@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Outfit:wght@300;500&family=Plus+Jakarta+Sans:wght@300;700&display=swap');

$TartOrange:#FC4747;
$ChineseBlack:#10141E;
$UCLABlue:#5A698F;
$DarkGunmetal:#161D2F;
$White:#FFFFFF;
$line:#5A698F;
$bgbook:#979797;